@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/Lato-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/Lato-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/Lato-Regular.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Lato';
  src: url('./assets/Lato-Bold.ttf');
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  list-style: none;
}

body {
  font-family: 'Lato';
  color: #d2dcee;
  overflow-x: hidden;
  position: relative;
}

.primary-button,
.primary-button--variant {
  background-color: #14ff63;
  padding: 8px;
  font-size: 18px;
  margin-top: 24px;
  font-weight: 600;
  border-radius: 12px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 4px #0a152970, inset 0px 3px 4px #6bff9d;
  position: relative;
  z-index: 20;
  outline: none;
  border: none;
  font-family: 'Montserrat';
}

.primary-button:hover {
  box-shadow: 0px 0px 30px #14ff6370;
  cursor: pointer;
}

.hero-section,
.lists-section,
.testimonials,
.call-to-action {
  padding: 16px;
}

.features__header,
.expectations__header {
  font-family: 'Montserrat';
  margin-bottom: 16px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #d2dcee;
  justify-content: center;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Montserrat';
  position: relative;
  z-index: 50;
}

.hero-section__header {
  font-size: 36px;
  text-shadow: 0px 0px 20px #000;
  font-weight: 600;
  position: relative;
  z-index: 20;
}

.hero-section__subheader {
  font-size: 18px;
  font-weight: 400;
  color: #c1d0ec;
  text-shadow: 0px 0px 20px #000;
  position: relative;
  z-index: 20;
}

.hero-section__image-container {
  position: absolute;
  width: 100%;
  height: calc(100% + 180px);
  background-color: #1b3464;
  z-index: 0;
}

.image-container__image {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  filter: saturate(0) contrast(1);
  z-index: 10;
}

.image-container__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -6px 3px #030c1c66;
  top: 0;
  isolation: isolate;
}

.expectations {
  margin-top: 40px;
}

.lists-section {
  background-color: #141924;
  border-radius: 12px;
  max-width: 800px;
  width: full;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px #000;
  position: relative;
  z-index: 100;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 12px 8px 12px 24px;
  font-weight: 400;
  font-size: 16px;
  background-color: #0f141f;
  border-radius: 12px;
  box-shadow: inset 0 -1px 0 #2a3140, inset 0 1px 0 #080d17;
}

.item__name {
  position: relative;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
}
.item__description {
  color: #9fabc1;
}

.item__name:before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #14ff63;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-150%) translateY(-50%) rotate(45deg) skew(12deg, 12deg);
  box-shadow: 2px 2px 1px #0004, inset 2px 2px #6bff9d;
}

.scroll-container {
  position: relative;
  display: flex;
  width: 200vw;
  justify-content: space-around;
  background-color: transparent;
}

.scroll-wrapper {
  width: 100vw;
  overflow-x: hidden;
  margin-top: 24px;
}

.testimonials {
  height: 100vh;
  padding-top: 16px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
}

.testimonials__header {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 32px;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 1000px;
}

.testimonials__testimonial,
.testimonials__testimonial--right {
  min-width: auto;
  max-width: 500px;
  text-align: justify;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  font-weight: 100;
  font-family: 'Lato';
  font-size: 16px;
  color: #c1d0ec;
}

.testimonials__testimonial--right {
  align-self: end;
}

.testimonial__quote {
  display: block;
  font-weight: 500;
  font-size: 18px;
}

.testimonial__author {
  color: #9fabc1;
  display: block;
  font-weight: 300;
  font-size: 16px;
}

.call-to-action {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100%;
}

.call-to-action__header {
  font-family: 'Montserrat';
  font-weight: 700;
  margin-bottom: 16px;
  margin: none;
  font-size: 32px;
}

.call-to-action__text {
  font-size: 18px;
}

.sparkle {
  width: 4px;
  height: 4px;
  background-color: #c1d0ecaa;
  box-shadow: 0px 0px 10px #c1d0ec;
  position: absolute;
  z-index: 10;
  border-radius: 100%;
}

@media only screen and (min-width: 512px) {
  .testimonial__quote {
    font-size: 24px;
  }
}
